.explore-header {
	position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
	border: none;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	min-width: 50%;
	text-align: center;
	font-size: 1em;
	margin: 0;
	padding: 0.5em 0.2em;
}

.explore-header-text {
	font-size: 1em;
	margin: 0;
}
