.image {
	width: 100%;
    padding-bottom: 1em;
}

.view-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.download-button {
    padding: 0.5em 2.5em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    border-radius: 1em;
	background-color: white;
    color: black;
    margin-bottom: 5em;
    border-radius: 50px;
}

.download-button:hover {
    background-color: #84E1D1;
    color: white;
}
