.mood-picker {
	position: fixed;
}

.mood-btn {
    font-size: 2em;
}

.mood-expanded {
	position: fixed;
	display: flex;
	background-color: blue;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 100%;
}