.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar-icon {
    flex: 1;
    width: 1.5em;
    height: 1.5em;
    padding: 0.4em;
    background-color: black;
    opacity: 0.7;
    border-top: 2px solid grey;
    padding-top: calc(0.4em - 2px);
}

.navbar-icon > img {
    width: 1.5em;
    display: block;
    margin: 0 auto;
    filter: invert(1);
}

.cur-page {
    opacity: 1;
    border-top: 5px solid #84E1D1;
    padding-top: calc(0.4em - 5px);

}