.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-icon {
    width: 3%;
    margin: 1% 3%;
}

.navbar-icon > img {
    width: 100%;
    opacity: 0.6;
}

img.navbar-page {
    opacity: 1;
}
