.pq-view {
    display: flex;
    flex-flow: column nowrap;
    color: black;
    margin: 1em;
    align-items: left;
}

.pq-date {
    text-transform: uppercase;
    font-size: 0.7em;
}

.pq-quote {
    font-size: 1em;
}

.pq-imgs {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
}

.pq-imgs > div {
    width: 8em;
    height: 8em;
    margin: 0.5em;
}

.pq-photo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pq-wallpaper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
