.profile-header {
	position: fixed;
    top: 0;
    width: 100%;
    display: flex;
	justify-content: center;
	z-index: 5;
}

.profile-header > button {
	border: none;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	background-color: black;
	opacity: 0.7;
	min-width: 50%;
	padding: 15px 32px;
	text-align: center;
	font-size: 1em;
    border-bottom: 2px solid grey;
}

.profile-header > button:focus {
	outline:0;
}

.photo-views {
	margin: 3.5em 0 3em;
}

.cur-profile {
	opacity: 1 !important;
    border-bottom: 5px solid #FF357A !important;
    padding-bottom: 11px !important;
}