.profile-header {
	position: fixed;
    top: 0;
    width: 100%;
    display: flex;
	justify-content: center;
	z-index: 5;
}

.profile-header > button {
	border: none;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	min-width: 50%;
	padding: 16px 32px;
	text-align: center;
	font-size: 1em;
}

.profile-header > button:focus {
	outline:0;
}

.photo-views {
	margin: 3.5em 0 3em;
}