.quote-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-family: Arial;
    font-size: 1.7em;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 75%;
    min-width: 100px;
    margin-bottom: 1em;
    opacity: 1;
}

.time {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 2%;
}

.time-text {
    font-family: Arial;
    font-size: 0.8em;
    color: white;
}

.time > img {
    width: 100%;
    min-width: 20px;
    max-width: 50px;
    filter: invert(1);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}

.footer-ctr {
    opacity: 1;
    width: 1.5em;
    padding: 0.5em;
}

.footer-ctr > img {
    opacity: 1;
    filter: invert(1);
    width: 100%;
}
