.tutorial-screen {
    background: black;
}

/* Big Button adapted from Phillip's sticky note code */

.bigbutton {
    text-shadow: 2px 2px rgba(0,0,0,0.5);
	display: block;
	margin: auto;
    padding: 1em 2em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    border-radius: 1em;
    transition-duration: 0.1s;
}

.bigbutton:hover {
    box-shadow: 0em 0.3em 0.2em rgba(0,0,0,0.5);
}

.bigbutton:active {
	box-shadow: 0em 0em 0em;
	transform: translateY(0.3em);
}

.end-tutorial {
        color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
	background-color: #D0D0D0;
    border: 5px outset #D0D0D0;
    color: white;
}

.end-tutorial:hover {
	background-color: #84E1D1; 
	border: 5px outset #84E1D1;
}

.end-tutorial:active {
	background-color: #84E1D1;
	border: 5px inset #84E1D1;
}